.catalog-container {
  margin: 0;
  padding-top: calc(4rem + 96px); /* Adjust if needed */
  font-family: "Roboto", sans-serif;
  background-size: cover;
  background-position: center;
  color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items to the top */
  align-items: center;
}

.game-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
  justify-content: center;
}

