@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url("background.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 0; 
}

.hero-text{
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    text-align: center;

}

.hero-text h1 {
    font-size: 7rem;
}

.hero-text p {
    font-size: 2rem;
    margin: 3rem auto 6rem;
}

button {
    width: 11rem; 
    height: 3.75rem; 
    border: 0.1875rem solid #ffffff; 
    border-radius: 2.8125rem; 
    transition: all 0.3s;
    cursor: pointer;
    background: #000000;
    font-size: 1.2rem; 
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
  }
  
  button:hover {
    background: #050505;
    color: #ffffff;
    font-size: 1.5em;
  }
